/*
=====================
* ADVICE BOX
=====================
*/
.advice-box {
    display: flex;
    align-items: center;
    justify-content: center;

    min-block-size: calc(var(--min-advice-height) * 0.80);
    max-inline-size: 24ch;
    padding-block-end: var(--separator);
    font-weight: var(--fw-quote);
    text-align: center;
}

.advice-text {
    font-size: clamp(var(--fs-quote-sm), 3vw + 1rem, var(--fs-quote));
}